{% extends 'base.html' %}


{% block title %}
    <title>Detail Page</title>
{% endblock title %}
    
{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Author :<a href="{% url 'account:user_profile' post.user.id %}"> {{ post.user.username }}</a></h2>
            <br />
            <h2 class="card-title">Last time Updated : {{ post.updated.time }}</h2>
            <h2 class="card-title">Last Date Updated : {{ post.updated.date }}</h2>
            <br />
            <h2 class="card-title" style="font-size: 30px;">Title : {{ post.title }}</h2>
            {% if request.user.pk == post.user.pk %}
            <hr />
            <h3>Delete This Post</h3>
            <a href="{% url 'home:post_delete' post.pk post.slug %}" class="btn btn-danger">Delete</a>
            <hr />
            <h3>Update This Post</h3>
            <a href="{% url 'home:post_update' post.pk post.slug %}" class="btn btn-info">Update</a>
            <br />
            {% endif %}
            <hr/>
            <h4 class="card-body">
                {{ post.body }}
            </h4>
                </div>
        <hr />
    </div><br />
    {% if request.user.is_authenticated %}
    <h2>New Comment Form</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-outline-primary" value="Comment">
    </form><hr />
    {% else %}
    <h2 class="alert alert-danger">Login to comment</h2>
    {% endif %}

    {% for comment in comments %}
    <div class="card bg-dark text-white">
        <p class="card-header">
            {{ comment.user }} | {{ comment.created.date }} | {{ comment.created.time }} | {{comment.created|timesince}} ago
        </p>
        <p class="card-body">
            {{ comment.body }}
        </p>
    </div><br />
    {% empty %}
    <p class="alert alert-danger">No Comments Yet!</p><br />
    {% endfor %}
{% endblock content %}