{% extends 'base.html' %}


{% block title %}
    <title>Detail Page</title>
{% endblock title %}
    
{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Author :<a href="{% url 'account:user_profile' post.user.id %}"> {{ post.user.username }}</a></h2>
            <br />
            <h2 class="card-title">Last time Updated : {{ post.updated.time }}</h2>
            <h2 class="card-title">Last Date Updated : {{ post.updated.date }}</h2>
            <br />
            <h2 class="card-title" style="font-size: 30px;">Title : {{ post.title }}</h2>
            {% if request.user.pk == post.user.pk %}
            <hr />
            <h3>Delete This Post</h3>
            <a href="{% url 'home:post_delete' post.pk post.slug %}" class="btn btn-danger">Delete</a>
            <hr />
            <h3>Update This Post</h3>
            <a href="{% url 'home:post_update' post.pk post.slug %}" class="btn btn-info">Update</a>
            <br />
            {% endif %}
            <hr/>
            <h4 class="card-body">
                {{ post.body }}
            </h4>
                </div>
        <hr />
    </div><br />
    {% if request.user.is_authenticated %}
    {% if can_unlike %}
        <a href="{% url 'home:post_unlike' post.pk %}" class="btn btn-primary col-md-2">Unlike</a><br /><br />
    {% else %}
        <a href="{% url 'home:post_like' post.pk %}" class="btn btn-primary col-md-2">Like</a><br /><br />
    {% endif %}
    <h3>Number of likes : {{post.likes_count}}</h3>
    <hr />
    <h2>New Comment Form</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-outline-primary" value="Comment">
    </form><hr />
    {% else %}
    <h2 class="alert alert-danger">Login to comment</h2>
    {% endif %}

    {% for comment in comments %}
    {% if comment.user.pk == request.user.pk %}
        <a href="{% url 'home:comment_delete' comment.pk %}" class="btn btn-danger">Delete Comment</a>
        <a href="{% url 'home:comment_update' comment.pk %}" class="btn btn-info">Update Comment</a>
    {% endif %}
    <div class="card bg-dark text-white">
        <p class="card-header">
            {{ comment.user }} | {{ comment.created.date }} | {{ comment.created.time }} | {{comment.created|timesince}} ago
        </p>
        <p class="card-body">
            {{ comment.body }}
        </p><hr />
        <h2>Add Reply Form</h2>
        <form action="{% url 'home:reply_add' post.id comment.id %}" method="post" class="p-2 m-2">
            {% csrf_token %}
            {{ reply_form.as_p }}
            <input type="submit" class="btn btn-outline-primary" value="Reply">
        </form><br />
        {% with replies=comment.rcomments.all %}
        {% for reply in replies %}
            <div class="card bg-dark text-white">
                <p class="bg-primary p-3 m-2 ">
                    {{ reply.user }} | {{ reply.created.date }} | {{ reply.created.time }} | {{reply.created|timesince}} ago
                    <br /><br />
                    {{ reply.body }}
                </p>
            </div>
        {% endfor %}
        {% endwith %}
    </div><br />
    {% empty %}
    <p class="alert alert-danger">No Comments Yet!</p><br />
    {% endfor %}
{% endblock content %}