{% extends 'base.html' %}


{% block title %}
    <title>Profile Page</title>
{% endblock title %}
    

{% block content %}
    <h3 class="text-center">{{user.username}}</h3>
    <div class="card">
        <div class="card-body">
            {% if request.user.pk == user.pk %}
            <a href="{% url 'home:post_create' %}" class="btn btn-outline-info">Create New Post</a>
            <a href="{% url 'account:edit_profile' %}" class="btn btn-outline-primary">Edit Your Profile</a>
            <br /><br />
            {% endif %}
            <h3>Age : {{user.profile.age}}</h3> <br />
            <h3>Bio : {{user.profile.bio}}</h3> <br />
            <hr />
            {% if request.user.pk != user.pk and not is_following %}
                <a href="{% url 'account:user_follow' user.pk %}" class="btn btn-primary">Follow</a><hr />
            {% elif request.user.pk != user.pk and is_following %}
                <a href="{% url 'account:user_unfollow' user.pk %}" class="btn btn-primary">Unfollow</a><hr />
            {% endif %}
            <h5 class="card-title">Posts</h5>
            <hr/><hr/>
            {% for post in posts %}
               <a href="{{post.get_absolute_url}}" class="card-body" style="font-size: 30px;">{{post.title}}</a>
               <hr />
            {% endfor %}
        </div>
    </div>
{% endblock content %}
    